<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello world</title>
</head>
<body>
    <h1>Hello world</h1>
    <img src="{{ .imagePath }}" />
    <form action="/createTodo" method="POST" name="createTodoForm">
        <input type="text" maxlength="140" name="description" />
        <input type="submit" value="Create" />
    </form>
    <ul>
        {{ range .todos }}
            <li>{{ .Description }}</li>
        {{ end }}
    </ul>
</body>
</html>
